= content_for :breadcrumbs do
  = link_to MenuLoader.title_for(params[:tutorial]), tutorial_path(params[:tutorial]), class: 'no-underscore'
  span= MenuLoader.chapter_title params[:tutorial], params[:chapter]

= markdown(@content)
